*{
    font-family: 'Inter',sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}
#main,#about,#skills,#works,#comments{
     min-height: 100vh;
     position: relative;
     background-size: cover;
     background-position: center;
}
#main{
    background-image: url('img/bgMAIN.png');
}
#about{
    background-image: url('img/bgABOUT.png');
}
#skills{
    background-image: url('img/bgSKILLS.png');
}
#works{
    background-image: url('img/bgWORKS.png');
}
#comments{
    background-image: url('img/bgCOMMENTS.png');
}
.main-block,.about-block,.skills-block,.works-block,.comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    height: 223px;
    width: 849px;
    background-image: url('img/form1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
    z-index: 100;
}
.main-title{
    color: #2b2d35;
    font-size: 80px;
    padding-top: 60px;
}
.main-subtitle{
    color: #2b2d35;
    font-size: 20px;
    font-family: 'Comfortaa';
}
.button{
    width: 200px;
    height: 60px;
    background-color: #BBFF2C;
    border-radius: 100px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 5px 5px 0 black;
    transition-property: background-color;
    transition-duration: 500ms;
}
.button:hover{
    background-color: #ceff63;
}
.planet{
    position: absolute;
    right: 20px;
    transform: rotate(170deg);
    animation-name: left-right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes up-down{
    from {transform: translateY(0px);}
    to {transform: translateY(70px);}
}
@keyframes left-right{
    from {transform: rotate(170deg);}
    to {transform: rotate(250deg);}
}
.animated{
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    position: absolute;
    bottom: 40px;
}
.title{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 5px 5px black;
}
.about-content{
    width: 35%;
    height: 200px;
    padding: 40px;
    background-color: #792aff;
    position: relative;
    display: flex;
}
.about-info{
    color: white;
    font-size: 20px;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Comfortaa';
}
.about-card{
    height: 346px;
    width: 376px;
    background-image: url('img/form2.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.about-card p{
    color: black;
    font-size: 17px;
    align-self: flex-start;
    padding-left: 20px;
    line-height: 25px;
    font-family: 'Comfortaa';
}
.about-image{
    width: 336px;
    height: 186px;
    padding-bottom: 20px;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cloud{
    position: absolute;
    margin-left: 48px;
    margin-top: 250px;
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 1;
}
.skill-card{
    background-image: url('img/form3.png');
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 50px;
}
.skill-card p{
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Comfortaa';
}
.works-pictures img{
    width: 30%;
}
.works-pictures{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.comments-block{
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.comment-card{
    height: 300px;
    max-width: 200px;
    background-image: url(img/card.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-card h3{
    font-family: 'Comfortaa';
    font-size: 18px;
    padding: 10px;
}
.comment-card p{
    font-family: 'Comfortaa';
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
}
.comment{
    width: 327px;
    height: 161px;
    background-image: url(img/comment.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment p{
    font-family: 'Comfortaa';
    font-size: 20px;
    max-width: 250px;
}
nav{
    position: fixed;
    top: 0px;
    z-index: 101;
    width: 100%;
}
.fixed-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    width: 115px;
    height: 40px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition-property: background-color,border;
    transition-duration: 500ms;
}
.nav-links{
    display: flex;
    padding-right: 30%;
    gap: 20px;
}
.nav-link:hover{
    background-color: #a977ff;
}
.footer{
    display: flex;
    justify-content: space-between;
    background: #200153;
    color: white;
    padding: 30px 60px 40px;
    align-items: center;
}
.initials{
    color: #BBFF2C;
    font-size: 64px;
}
.nav-link_active{
    color: white;
    background-color: #792aff;
}
@media (max-width:1000px){
    .nav-links{
        display: none;
    }
    .initials{
        font-size: 40px;
    }
    .button{
        width: 210px;
        height: 50px;
    }
}