*{
    font-family: 'Inter',sans-serif;
    margin: 0px;
}
#main,#about,#skills,#works,#comments{
     min-height: 100vh;
     position: relative;
     background-size: cover;
     background-position: center;
}
#main{
    background-image: url('img/bgMAIN.png');
}
#about{
    background-image: url('img/bgABOUT.png');
}
#skills{
    background-image: url('img/bgSKILLS.png');
}
#works{
    background-image: url('img/bgWORKS.png');
}
#comments{
    background-image: url('img/bgCOMMENTS.png');
}